{% extends 'base.html' %}
{% load static %}
{% block title %} Добавление продукта {% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block content %}
<div class="page-center">
    <div class="form-wrapper">
        <h1>Добавление продукта</h1>

        <form id="productForm" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-field">
                <label>Название товара</label>
                <input type="text" name="title" required>
            </div>
            
            <div class="form-field">
                <label>Категория</label>
                <select name="category" id="categorySelect" required>
                    <option value="">Выберите категорию</option>
                </select>
            </div>
            
            <div class="form-field">
                <label>Описание</label>
                <textarea name="description" rows="5" required></textarea>
            </div>
            
            <div class="form-field">
                <label>Фото товара</label>
                <label class="file-label">
                    Загрузить фото
                    <input type="file" name="image" accept="image/*" required>
                </label>
            </div>
            
            <div class="form-field">
                <label>Количество</label>
                <input type="number" name="stock_units" min="0" value="1" required>
            </div>
            
            <div class="form-field">
                <label>Цена (₸)</label>
                <input type="number" name="price" min="100" step="0.01" required>
            </div>
            
            <button type="button" class="btn-submit" onclick="addProduct()">Добавить</button>
        </form>
        
        <div id="message" class="message"></div>
    </div>
</div>

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

async function addProduct() {
    const form = document.getElementById('productForm');
    const formData = new FormData(form);
    const csrftoken = getCookie('csrftoken');
    const messageDiv = document.getElementById('message');
    

    const title = formData.get('title');
    const special = ['!', '@', '$', '#', '%', '^', '&', '*', '(', ')', '_', '+'];
    for (let char of title) {
        if (special.includes(char)) {
            messageDiv.innerHTML = 'Название не может содержать специальные символы (!@#%*)';
            messageDiv.className = 'message error';
            return;
        }
    }
    
    const price = parseFloat(formData.get('price'));
    if (price < 100) {
        messageDiv.innerHTML = 'Слишком маленькая стоимость';
        messageDiv.className = 'message error';
        return;
    }
    
    const image = formData.get('image');
    if (image.size > 10 * 1024 * 1024) {
        messageDiv.innerHTML = 'Картинка не может весить больше 10 МБ';
        messageDiv.className = 'message error';
        return;
    }
    
    messageDiv.innerHTML = 'Добавление товара...';
    messageDiv.className = 'message';
    
    try {
        const response = await fetch('/shop/api/products/create/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            body: formData
        });
        
        const data = await response.json();
        
        if (response.ok) {
            window.location.href = '/shop/products/';
        }}
        
    catch (error) {
        alert('Ошибка')
    }
}
</script>
{% endblock %}